# Logs
*.log

# Dependency directories
node_modules/
bower_components/

# Build output
dist/
build/
out/
tsbuildinfo

# IDE/system-specific
.DS_Store
Thumbs.db
.vscode/
.idea/
desktop.ini

# Testing/output
coverage/
cypress/videos/
cypress/screenshots/
jest-output/

# Environment
.env
.env.*.local

# Temp & backup
*.bak
*.swp
*.tmp
.tmp*/
load/
~$*

# Project-specific ignore
CFH_Analytics/legacy/
frontend/.next/
backend/.husky/
backend/__mocks__/
backend/logs/
backend/coverage/
backend/dist/

# Misc (optional)
*.gsheet
*.csv
*.txt
